form{
    display: flex;
    flex-direction: column;
    width: 15em;
   	justify-content: flex-start;
   	text-align: center;
   	width:1000px;
   	height: 350px;
   	margin : auto;
}

input{
	font-size: 1em;
	height: 50px;
	width: 300px;
	text-align: center;
}

#headline {

	text-align: center;
	font-size: 2em;

}
select{
	margin-top: 2em;
}

#deco , #requete{
	border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:1px 1px 3px #aaa;
	background:orange;
	font:bold 13px Arial;
	margin-right: 10px;
	width:15em;
	height:3em;
	
}

header div{
	display : flex;
	float : right;
	
}

