form{
    display: flex;
    flex-direction: column;
   	text-align: center;
   	width:1000px;
   	height: 350px;
   	margin:auto;
   	align-items:center;
   	float : center;
}

input{
	font-size: 1em;
	height: 50px;
	width: 300px;
	text-align: center;
	float:right;
}

#headline {

	margin-left :700px;
	font-size: 2em;

}
select{
	margin-top: 2em;
	width: 300px;
}

label{
	display: block;
	color: orange;
}

#deco , #requete{
	border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:1px 1px 3px #aaa;
	background:orange;
	font:bold 13px Arial;
	margin-right: 10px;
	width:15em;
	height:3em;
	
}

header div{
	display : flex;
	float : right;
	
}

