#headline {

	text-align: center;
	font-size: 2em;

}

#deco{
	position: relative;
	float: right;
}

#startSansRetardateur {
	display: inline;
}

#startAvecRetardateur {
	display: inline;
}

#ok {
	display: inline;
}

#suggest {
	display: inline;
}

#SansButton , #AvecButton{
	width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}
