
#headline {

	text-align: center;
	font-size: 2em;

}

#deco{
	position: relative;
	float: right;
}

#startSansRetardateur {
	display: inline;
}

#startAvecRetardateur {
	display: inline;
}

#ok {
	display: inline;
}

#suggest {
	display: inline;
}

#SansButton , #AvecButton, #stopButton{
	width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}

header form{
	text-align: right;
}

#deco{
	border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:1px 1px 3px #aaa;
	background:red;
	font:bold 13px Arial;
	color:white;
}

#coordinates h1 {

  display: inline;
    
}

.wrapper {
    
    margin: 0 auto;
}

#coordinates {
    float:left;
}

#graphs
{
    padding-left : 500px;
}

#refreshButton {
	float: right;
	width:130px;
	height:60px;

}
